{% extends 'base.html' %}
{% load static %}
{% load timetags %}

{% block extra_head %}
<script src="{% static 'main.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h4>Auction Listings</h4>
    {% if not can_see_all_files %}
    <div class="alert alert-info">
      You are viewing listings from auctions past.<br>
      {% if request.user.is_authenticated %}
      Subscribe to see upcoming auctions.
      {% else %}
      <a href="/accounts/login/">Login</a> and subscribe to recieve alerts and see upcoming auctions.
      {% endif %}
    </div>
    {% endif %}

    <div class="list-group">
      {% for file in files %}
      <a href="{{ file.url }}" class="list-group-item list-group-item-action flex-column align-items-start"
        target="_blank" download>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ file.name }}</h5>
          <small>{{ file.date }}</small>
        </div>
        {% if file.is_future %}
        <span class="badge badge-success">Future</span>
        {% else %}
        <span class="badge badge-secondary">Past</span>
        {% endif %}
      </a>
      {% empty %}
      <div class="list-group-item">No files found.</div>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-6">
    <div style="color: rgb(80, 80, 80); font-weight: bold; margin-bottom: 20px;">
      Disclamer: Lengthy chain of custody for this data allows this entity to make zero claims to its
      authenticity. Users
      of data obtained from this site agree that it is their responsibility to perform their own due diligence
      before
      attending a tax
      sale. Please consult an
      attorney before investing in tax sales to determine if this level of risk is right for you.
    </div>

    <div class="mb-4">
      {% if request.user.is_authenticated %}
      <img src="{% static '2.png' %}" alt="Logged in image" class="img-fluid">
      {% else %}
      <img src="{% static '1.png' %}" alt="Guest image" class="img-fluid">
      {% endif %}
    </div>

    {% if subscription.status == "active" %}
    <h4>Your subscription:</h4>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">Subscription started from {{ subscription.current_period_start | print_timestamp }}</p>
        <p class="card-text">Subscription ends on {{ subscription.current_period_end | print_timestamp }}</p>
        <a href="{% url 'cancel' %}" class="btn btn-danger mt-3">Cancel Subscription</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}